extends ../../layouts/default.pug
include ../../mixins/categorySort.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/alert.pug
include ../../mixins/pagination.pug 
include ../../mixins/table-tree.pug



block main

  +alert-success(5000)
  h1 Trang danh mục sản phẩm

  .card.mb-3
    .card-header.fw-bold Bộ lọc và Tìm kiếm
    .card-body
      .row
        .col-6
          +filter-status(filterStatus)
        .col-6
          +search(keyword)

  .card.mb-3 
    .card-header.fw-bold Sắp xếp 
    .card-body 
      .row 
        .col-4 
          +categorySort()

  .card.mb-3
    .card-header.fw-bold Danh sách sản phẩm
    .card-body
      .row 
        .col-8  
          +form-change-multi(`${prefixAdmin}/product-category/change-multi?_method=PATCH`)
        .col-4 
          a(
            href=`${prefixAdmin}/product-category/create`
            class="btn btn-outline-success"
          ) + Thêm mới
    
      br

      table(
        class="table table-hover table-sm"
        checkbox-multi
      )
        thead
          tr
            th 
              input(type="checkbox" name="checkall")
            th STT
            th Hình ảnh
            th Tiêu đề
            th Vị trí
            th Trạng thái 
            th Hành động
        tbody
          +table-tree(records)
          
  //- +pagination(pagination)
